@model MouraSolutionsWeb.Models.Pedido

@{
    ViewData["Title"] = "Delete";
}

<h1>Apagar</h1>

<h3>Certeza que deseja tentar apagar o registro?</h3>
<div>
    <h4>Pedido</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente.ClienteId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataPedidoRetirada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataPedidoRetirada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeSolicitante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeSolicitante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataRetirada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataRetirada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataEntrega)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataEntrega)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.statusPedido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.statusPedido.IdStatus)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CEP)
        </dt>
        
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CEP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Obsercao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Obsercao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Zona)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Zona.IdZona)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Apagar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar para lista</a>
    </form>
</div>
