@model MouraSolutionsWeb.Models.Pedido

@{
    ViewData["Title"] = "Details";
    var nome = @ViewBag.Usuario;
    var role = @ViewBag.Role;
}


<h1>Detalhes do pedido</h1>

<div>
    <h4>Pedidos/Solicitações</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataPedidoRetirada)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataPedidoRetirada)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NomeSolicitante)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomeSolicitante)
        </dd>
        @*<dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DataRetirada)
            </dt>*@
        @*<dd class="col-sm-10">
                @Html.DisplayFor(model => model.DataRetirada)
            </dd>*@
        @*<dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DataEntrega)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DataEntrega)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.statusPedido)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.statusPedido.Status)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CEP)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CEP)
            </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Obsercao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Obsercao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Zona)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Zona.ZonaNome)
        </dd>
        @* We write pedidos here *@
        @ViewBag.MensagemCompara
    <dd class="col-10">
        @using (Html.BeginForm("SalvaAlteraPaciente", "Pacientes", FormMethod.Post))
        {
            @*<table class="table table-striped">*@
            <table class="table-striped">

                <tr>
                    <th>Id Paciente</th>
                    <th>Nome Paciente</th>
                    <th>Protocolo</th>
                    @*<th>Status Protocolo</th>*@
                    <th>Check Moto</th>
                    @*<th>Check Clínica</th>*@
                    <th>Check Lab.</th>
                    <th>Status amostra</th>
                    <th>Hora Motoboy</th>
                    <th>Hora Lab.</th>
                    <th>Obs</th>
                </tr>

                @if (Model.Pacientes != null)
                {
                    for (int i = 0; i < Model.Pacientes.Count(); i++)
                    {

                        <tr id="tr" style='background-color: @(Model.Pacientes[i].ConfMoto == Model.Pacientes[i].Protocolo ? "#e5fbe5" : "#f8d2d2");'>
                            <td>
                                @Html.TextBoxFor(x => Model.Pacientes[i].IdPaciente, new { @readonly = "true" })
                            </td>
                            <td>
                                @Html.DisplayTextFor(x => Model.Pacientes[i].NomePaciente)
                            </td>
                            <td id="Protocolo">
                                @Html.TextBoxFor(x => Model.Pacientes[i].Protocolo)
                            </td>
                            @*<td>
                                @Html.DisplayTextFor(x => Model.Pacientes[i].Status)
                            </td>*@
                            <td id="ProtocoloMoto">
                                @Html.TextBoxFor(x => Model.Pacientes[i].ConfMoto)
                            </td>
                            <td>
                                @Html.TextBoxFor(x => Model.Pacientes[i].ConfClinica)
                            </td>

                            <td>
                                @Html.DisplayTextFor(x => Model.Pacientes[i].ConfEscritorio)
                            </td>
                            <td>
                                @Html.DisplayTextFor(x => Model.Pacientes[i].Tma)
                            </td>
                            <td>
                                @Html.DisplayTextFor(x => Model.Pacientes[i].DataCheckLab)
                            </td>
                            <td>
                                @Html.TextBoxFor(x => Model.Pacientes[i].Obs)
                            </td>
                        </tr>
                   }

                    <tr>
                        <td colspan="4">
                            <input type="submit" class="btn-primary" value="Confirmar" />
                        </td>
                    </tr>
                }

            </table>
        }
    </dd>

    </dl>
</div>
<div>
    <a asp-action="Index">
        <img src="~/Imagens/SetaBackIco.png" width="30" />
    </a>
</div>


