@model IEnumerable<MouraExpress.Models.Pedido>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@ViewBag.Usuario
<p>
    <a asp-action="Create">Criar acesso</a>
</p>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataPedidoRetirada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeSolicitante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataRetirada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEntrega)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZonaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.statusPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CEP)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Motoboy.MotoboyId)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Obsercao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataPedidoRetirada)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeSolicitante)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataRetirada)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataEntrega)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ZonaId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.statusPedido.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CEP)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Motoboy.MotoboyId)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Obsercao)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Alterar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhar</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
