@model MouraSolutionsWeb.Models.Paciente

@{
    ViewData["Title"] = "Delete";
}

<h1>Apagar</h1>

<h3>Certeza que deseja tentar apagar o registro?</h3>
<div>
    <h4>Paciente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomePaciente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomePaciente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Protocolo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Protocolo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConfMoto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConfMoto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConfClinica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConfClinica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConfEscritorio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConfEscritorio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Obs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Obs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.statusProtocolo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.statusProtocolo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pedido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pedido.Id)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdPaciente" />
        <input type="submit" value="Apagar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar para lista</a>
    </form>
</div>
